#about-section {
    display: flex;
    align-items: center;
}

.bi-arrow-left-circle {
    margin-bottom: 30px;
    color: #206464;
    cursor: pointer;
}

.manager-name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.about-content h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1rem;
    padding-right: 50px;
    line-height: 30px;
    color: gray;
}

.about-content .read-more {
    text-decoration: none;
    color: #206464;
    font-weight: 500;
}

.bi-arrow-up-short {
    rotate: 45deg;
}

.about-right-section .about-image-verticle {
    max-width: 100%;
    height: auto;
    box-sizing:content-box;
}

.about-right-section .about-image-horizontal {
    display: none;
}

@media (max-width:992px) {
    .about-content h1 {
        font-size: 2rem;
    }

    .about-content p {
        font-size: 0.8rem;
        line-height: 20px;
    }
}

@media (max-width: 767px) {
    #about-section {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        position: relative;
        margin: 0 0 25px 0!important;
        padding: 0!important;
        width: 100%;
    }

    .about-left-section .bi-arrow-left-circle { 
        position: absolute;
        top: 15px;
        left: 15px;
        width: 35px;
        color: #fff;
    }

    .about-left-section {
        margin-top: 20px;
    }

    .about-content p {
        text-align: center;
        padding: 0 25px 0 25px;
        margin-bottom: 15px;
    }

    .about-right-section .about-image-horizontal {
        display: block;
        width: 100%;
        height: auto;
        
    }

    .about-right-section .about-image-verticle {
       display: none;
    }
}

